* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #111113;
    --text-color: #0fc3e8;
    --main-color: #e8ddcb;
    --second-color: #dfece6;
    --other-color: #cdb380;
    --other-color2: #0fc3e8;
    --other-color3: gray;
    --h1-font: 5.2rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color)
}

header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 16%;
    border-bottom: 1px solid transparent;
    transition: all .40s ease;
}

.logo img {
    width: 135px;
    height: auto;
}

.navbar {
    display: flex;

}

.navbar a {
    color: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 25px;
    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all .40s ease;
}

.navbar a:hover {
    background: var(--other-color2);
    color: var(--other-color);
}

#menu-icon {
    font-size: 36px;
    color: var(--main-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 160px 16% 90px;
}

.home {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(./img/Banner\ cima.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h1{
    margin: 20px 0;
    font-size: var(--h1-font);
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 2px;
}

span {
    color: var(--other-color2);
}

.home-text h1 {
    color: var(--main-color);

}

.home-text h4 {
    color: var(--other-color2);
    font-size: 24px;
    font-weight: 600;
}

.home-text h3 {
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: 500;
    background: var(--main-color);
    color: var(--other-color2);
    border: 1px solid var(--main-color);
    transition: all .40s ease;
}

.btn:hover {
    transform: scale(1.01) translateY(-5px);
    background: transparent;
    border: 1px solid var(--main-color);
}

header.sticky {
    padding: 10px 16%;
    background: var(--bg-color);
    border-bottom: 1px solid #0e1630 ;
    transition: .3s;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.sobre-texto h4 {
    margin: 10px 0;
    color: var(--other-color2);
    font-size: 20px;
    font-weight: 600;
}

.sobre-texto h2 {
    font-size: var(--h2-font);
    color: var(--main-color);
}

.sobre-texto p {
    color: var(--other-color3);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}

.sobre-gri {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.sobre-in h5 {
    font-size: 22px;
    font-weight: 600;
}

.sobre-img img {
    height: auto;
    width: 100%;
    max-width: 460px;
}

.main-text {
    text-align: center;
}

.main-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 10px;
}

.main-text h4 {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
}

.serviços-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.box {
    padding: 45px;
    background-color: #19191b;
    border-top: 5px solid transparent;
    border-radius: 0.5rem;
    transition: all .40s ease;
    cursor: pointer;
}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    transition: all .40s ease;
}

.box p {
    color: var(--other-color3);
    font-size: var(--p-font);
    line-height: 30px;
}

.box:hover {
    transform: scale(1.01) translateY(-5px);
    border-top: 5px solid var(--main-color);
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.row img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.row {
    padding: 25px;
    background-color: #19191b;
    border-radius: 0.5rem;
    transition: all .40s ease;
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.row h3 {
    color: var(--other-color2);
    font-size: 25px;
    font-weight: 700;
}

.row h6 {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.row p {
    color: var(--other-color3);
    font-size: var(--p-font);
    line-height: 30px;
}

.row-icon i {
    font-size: 21px;
}

.row:hover {
    transform: scale(1.01) translateY(-5px);
    color: var(--main-color);
    cursor: pointer;
}
.cronograma img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.cronograma {
    padding: 25px;
    background-color: #19191b;
    border-radius: 0.5rem;
    transition: all .40s ease;
}

.main-cronograma {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}



footer {
    height: auto;
    width: 99vw;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 40px;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 4rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--main-color);
}

.socials a i {
    font-size: 3rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: var(--other-color2);
}

.last-text p {
    text-align: center;
    padding: 15px;
    color: var(--other-color3);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

@media (max-width: 1325px){
    header {
        padding: 16px 3%;
    }
    header.sticky {
        padding: 8px 3%;
    }
    section{
        padding: 130px 3% 60px;
    }
}

@media (max-width: 970px){
    :root{
        --h1-font: 4.2rem;
        --h2-font: 2.9rem;
        --p-font: 1rem;
    }
    section{
        padding: 70px 3% 60px;
    }
    .home {
        height: 85vh;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about img{
        text-align: center;
    }
    .contato {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 830px) {
    #menu-icon {
        display: block;
    }
    .navbar{
        position: absolute;
        top: -600px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #19191b;
        text-align: left;
        transition: all .40s ease;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        margin: 1rem;
    }
    .navbar .active{
        top: 100%;
    }
    :root{
        --h1-font: 3.7rem;
        --h2-font: 2.7rem;
    }
}